{% extends "layout.html" %}
{% block title %}Modify Locations{% endblock %}
{% block content %}
    <form class="form-horizontal" method="post" action="update_locations">
    <fieldset>

    <!-- Form Name -->
    <legend>Modify Locations</legend>


    <p>
      Please select a location to update, or "New Location" to add.
    </p>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Select Location</label>
      <div class="col-md-4">
        <select id="selectbasic" name="select-location" class="form-control">
          <option value="new-location">New Location</option>
          {% for location in locations %}
            <option value="{{ location.name }}">{{ location.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Location Name</label>
      <div class="col-md-4">
      <input id="textinput" name="location-name" type="text" placeholder="Location name" class="form-control input-md">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="col-md-4"></div>
      <div class="col-md-4 center-block">
        <button id="singlebutton" name="button" value="update" class="btn btn-primary">Submit</button>
        <button id="singlebutton" name="button" value="delete" class="btn btn-danger">Delete</button>
      </div>
      <div class="col-md-4"></div>
    </div>

    </fieldset>
    </form>

{% endblock %}
