{% extends "layout.html" %}
{% block title %}Modify Patrollers{% endblock %}
{% block content %}
    <form class="form-horizontal" method="post" action="update_patrollers">
    <fieldset>

    <!-- Form Name -->
    <legend>Modify Patrollers</legend>


    <p>
      Please select a patroller to update, or "New Patroller" to add.
    </p>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic">Select Patroller</label>
      <div class="col-md-4">
        <select id="selectbasic" name="patroller-select" class="form-control">
          <option value="new-patroller">New Patroller</option>
          {% for patroller in patrollers %}
            <option value="{{ patroller.name }}">{{ patroller.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Patroller Name</label>
      <div class="col-md-4">
      <input id="textinput" name="patroller-name" type="text" placeholder="FirstName LastName" class="form-control input-md">
      </div>
    </div>

    <!-- Multiple Radios -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="radios">Patroller Status</label>
      <div class="col-md-4">
      <div class="radio">
        <label for="radios-0">
          <input type="radio" name="status" id="radios-0" value="full_time" checked="checked">
          Full-time
        </label>
    	</div>
      <div class="radio">
        <label for="radios-1">
          <input type="radio" name="status" id="radios-1" value="voulenteer">
          Voulenteer
        </label>
    	</div>
      <div class="radio">
        <label for="radios-1">
          <input type="radio" name="status" id="radios-1" value="trainee">
          Trainee
        </label>
    	</div>
      <div class="radio">
        <label for="radios-1">
          <input type="radio" name="status" id="radios-1" value="other">
          Other
        </label>
    	</div>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="col-md-4"></div>
      <div class="col-md-4 center-block">
        <button id="singlebutton" name="button" value="update" class="btn btn-primary">Submit</button>
        <button id="singlebutton" name="button" value="delete" class="btn btn-danger">Delete</button>
      </div>
      <div class="col-md-4"></div>

    </div>


    </fieldset>
    </form>

{% endblock %}
